calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:org.axis.calculator" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:org.axis.calculator" xmlns:intf="urn:org.axis.calculator" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="addRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="substractRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="multiplyResponse">

      <wsdl:part name="multiplyReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="multiplyRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="substractResponse">

      <wsdl:part name="substractReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="add" parameterOrder="in0 in1">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="multiply" parameterOrder="in0 in1">

         <wsdl:input message="impl:multiplyRequest" name="multiplyRequest"/>

         <wsdl:output message="impl:multiplyResponse" name="multiplyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="substract" parameterOrder="in0 in1">

         <wsdl:input message="impl:substractRequest" name="substractRequest"/>

         <wsdl:output message="impl:substractResponse" name="substractResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="multiplyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substract">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="substractRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="substractResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.axis.calculator" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/axis/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
